@import '../../styles/_variables.scss';


.dropdown-container {
  position: relative;

  .click-txt {
    font-size: 14px;
    color: $blue;
    margin-left: 5px;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 110px;
  }

  .popup {
    padding: 8px;
    background-color: white;
    border: solid 1px $gray;
    border-radius: 4px;
    position: fixed;
    z-index: 1000;

    .item {
      cursor: pointer;
      color: $blue;

      &:hover {
        opacity: 0.8;
      }
      margin: 8px;
    }
  }
}
