@import '../../styles/_variables.scss';


.meeting-message-container {
  width: calc(100% - 566px);
  margin: 0 0 0 283px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  .room-info {
    position: fixed;
    left: calc(283px + 16px);
    z-index: 1;
    top: 16px;
    font-size: 12px;
    color: white;
  }

  .leave-button {
    position: fixed;
    right: 283px;
    bottom: 95px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    font-size: 14px;
    &:hover{
      background-color: rgba(255,255,255,0.1);
    }
    cursor: pointer;
    z-index: 1;
    color: #FF4242;
  }

  .end-meeting-dialog{
    width: 560px;
    left: calc(50vw - 280px);
    height: 280px;
  }
  .dialog-bg{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

#zmmtg-root {
  background-color: white !important;
  position: initial !important;
  width: 100% !important;
  height: 100% !important;

  .chat-container {
    height: calc(100% - 95px) !important;
  }

  .show-tip {
    span:first-child {
      display: none;
    }
  }
  .footer__leave-btn{
    visibility: hidden;
  }

  #sv-active-video {
    width: calc((100vh - 95px - 52px) * 1.3333) !important;
    height: calc(100vh - 95px - 52px) !important;
    position: absolute;
    left: calc(((100vw - 566px) - (100vh - 95px - 52px) * 1.3333) * 0.5);
  }

  #active-my-canvas {
    width: calc((100vh - 95px - 52px) * 1.77777) !important;
    height: calc(100vh - 95px - 52px) !important;
    position: absolute;
    left: calc(((100vw - 566px) - (100vh - 95px - 52px) * 1.77777) * 0.5);
  }

  #wc-footer .audioAllowMenu {
    left: -280px !important;
  }

  .popmenu > li.selected > a:before {
    left: 3px;
    top: 6px;
  }

  #wc-container-right {
    right: 283px;
    position: fixed;
    height: calc(100% - 95px);
  }

  .meeting-client {
    width: calc(100% - 566px);
  }

  .meeting-client-inner {
    margin: 0 0 0 283px;
    padding-bottom: 95px;
    max-width: calc(100% - 566px);

    #wc-content {
      margin-bottom: 96px;
      padding-bottom: 0;
    }
  }

  #sv-active-speaker-view {
    width: 100%;
  }

  #wc-container-left {
    width: 100% !important;
  }

  .sv-active-video {
    width: 100% !important;
  }

  #wc-footer {
    width: calc(100%) !important;
  }

  .diaout-layer {
    width: calc(100%) !important;
    bottom: 95px !important;
  }

  .full-screen-widget {
    right: 12px;
  }

  .btn-default {
    background-color: transparent;
  }

  .chat-input {
    bottom: 122px;
  }

  #chat-textarea {
    padding: 10px;
  }
}
.p-mre{
  z-index: 1001;
  padding-bottom: 16px;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  div > button {
    margin-top: 1px;
  }
}
