@import '../../styles/_variables.scss';

.left-area {
    overflow-y: auto;
    padding: 30px 20px 0 20px;
    position: fixed;
    left: 0;
    z-index: 1;
    background: #fff;
    height: calc(100% - 95px);
    width: 283px;

    .back-btn{
        font-weight: bold;
        margin-bottom: 24px;
        display: block;
        cursor: pointer;
        color: $blue;

        &:hover{
            color: #093F72;
        }
    }
    .question-title {
        color: $black;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.19px;
        margin-bottom: 15px;
    }
    .question-list {
        .list-panel {
            padding: 13px 15px;
            border-radius: 4px;
            background-color: $gray;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
            .bold-txt {
                display: none;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.17px;
                line-height: 20px;
            }
            .question-txt {
                color: $fontColor;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.17px;
                line-height: 17px;
            }
            .inputs {
                display: none;
            }
            &:hover {
                opacity: 0.75;
            }
            &.current {
                &.green {
                    background-color: #20c997;
                    .bold-txt {
                        display: block;
                    }
                    .question-txt {
                        color: $white;
                    }
                    .bold-txt {
                        color: $white;
                    }
                    .inputs {
                        display: none;
                    }
                    &:before {
                        display: none;
                    }
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 22px;
                    width: 4px;
                    height: 32px;
                    border-radius: 0 2px 2px 0;
                    background-color: $blue;
                }
                .inputs {
                    display: block;
                    padding: 0;
                    input {
                        background-color: transparent;
                        color: $fontColor;
                        font-size: 14px;
                        font-weight: 700;
                        letter-spacing: 0.17px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
