@import '../../../styles/_variables.scss';

.right-aside {
    .btn-add {
        display: block;
        width: 24px;
        height: 24px;
        background: url('/add.svg');
        background-size: 100%;
        position: absolute;
        right: 20px;
        top: 24px; 
    }
    .time-box {
        margin-top: 20px;
        .group {
            margin-bottom: 20px;
        }
        .sm-title {
            color: #555d7e;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.17px;
            line-height: 20px;
            margin-bottom: 4px;
        }
        .time-div {
            height: 46px;
            background-color: rgba(244,246,250,0.5);
            padding-left: 16px;
            margin-bottom: 10px;
            display: flex;
            -webkit-display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            position: relative;
            .time {
                color: #3f5c76;
                font-size: 14px;
                font-weight: 400;
                padding-top: 15px; 
                text-transform: uppercase;
            }
            .btn-more {
                width: 3px;
                height: 13px;
                margin: 10px 10px 0 0;
                background: url('/more-vertical.svg');
                background-size: 100%;
            }
            .tool {
                position: absolute;
                right: 6px;
                top: 5px;
                width: 120px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
                background-color: #ffffff;
                padding: 10px 5px 8px 10px;
                z-index: 999;
                li {
                    display: flex;
                    -webkit-display: flex;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .icon {
                        width: 16px;
                        height: 16px;
                    }
                    .icon-edit {
                        background: url('/icon-edit.svg') center center no-repeat;
                        background-size: 14px 14px;
                    }
                    .icon-delete {
                        background: url('/icon-trash.svg') center center no-repeat;
                        background-size: 12px 16px;
                    }
                    .name {
                        margin-left: 9px;
                        color: #097ade;
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: 0.14px;
                        line-height: 16px;
                    }
                } 
            }
        }
    }
    .btn-close {
        display: block;
        width: 24px;
        height: 24px;
        background: url('/close-icon.svg');
        background-size: 100%;
        position: absolute;
        right: 0;
        top: 24px;
    }
    .add-box {
        margin-top: 20px;
    }
    .add-group {
        margin-bottom: 25px;
        .tit {
            color: #555d7e;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.17px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .day-box {
            display: flex;
            -webkit-display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -8px;
            a {
                border-radius: 28px;
                width: 28px;
                height: 28px;
                border: 1px solid #90aee8;
                background-color: #ffffff;
                text-align: center;
                line-height: 29px;
                color: #555d7e;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.17px;
                text-transform: uppercase;
                margin-right: 7px;
                &.active {
                    background: #097ade;
                    color: #fff;
                }
            }
        }
        .row-line {
            display: flex;
            -webkit-display: flex;
            margin-bottom: 6px;
            .w-100 {
                width: 100px;
            }
            .txt {
                width: 6px;
                color: #3f5c76;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.17px;
                line-height: 40px;
                margin: 0 6px;
            }
            .btn-delete {
                margin-left: 8px;
                width: 16px;
                height: 16px;
                background: url('/icon-trash.svg') no-repeat;
                background-size: 100% 100%;
                margin-top: 12px;
            }
        }
        .error-txt {
            color: #f00;
            font-size: 12px;
            font-weight: 400;
        }
        .btn-rowmore {
            margin-bottom: 25px;
            a {
                color: #137ade;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.14px;
                line-height: 20px;
            }
        }
    }
    .bot-btn {
        margin-bottom: 20px;
        a {
            display: inline-block;
            height: 32px;
            line-height: 32px;
            width: 90px;
            font-size: 14px;
            font-weight: 700;
            margin-right: 14px;
            text-align: center;
            border-radius: 32px;
        }
        .btn-blue {
            min-width: 90px;
        }
        .btn-cancel {
            color: #137ade;
            border: 1px solid #137ade;
            background-color: #ffffff;
        }
    }
    .bot-txt {
        p {
            color: #979cb2;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.14px;
            line-height: 20px;
        }
    }
}