@import '../../styles/_variables.scss';

//.right-aside 
.right-aside {
    width: 283px;
    background-color: $white;
    position: fixed;
    right: 0;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    z-index: 888;
    top: 0;
    .add-items {
        padding: 30px 20px;
        &.borders {
            border-bottom: 2px solid #d9dbe0;
        }
        .title-bar {
            margin-bottom: 12px;
            .left-title {
                color: $black;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0.19px;
            }
            .icon-add {
                background: url(/add.svg) center center no-repeat;
                background-size: 24px auto;
                width: 24px;
                height: 24px;
            }
        }
        .list {
            .line-items {
                padding-left: 30px;
                position: relative;
                margin-bottom: 14px;
                &.user {
                    padding-left: 34px;
                    position: relative;
                    .top-txt {
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: $inputPlace;
                        font-size: 11px;
                        font-weight: 400;
                        letter-spacing: 0.13px;
                    }
                    .right-txt {
                        padding-right: 13px;
                    }
                    .user-photo {
                        position: absolute;
                        top: 5px;
                        left: 0;
                        width: 24px;
                        height: 24px;
                    }
                    .blue-links {
                        color: $blue;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.14px;
                        display: inline-block;
                        margin-left: 0;
                    }
                    .txt {
                        color: $black;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 0.17px;
                        line-height: 19px;
                        .blue-links {
                            font-size: 14px;
                            line-height: 20px;
                            color: $blue
                        }
                        &.bold {
                            font-weight: 700;
                            .blue-links {
                                font-weight: 700;
                            }
                        }
                    }
                }
                
                .icon-done {
                    position: absolute;
                    top: 8px;
                    left: 0;
                    border-radius: 100%;
                    background: #d9dbe0 url(/check-white.svg) center center no-repeat;
                    background-size: 9px auto;
                    width: 16px;
                    height: 16px;
                }
                .black-txt {
                    height: 18px;
                    color: $black;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.17px;
                }
                .date {
                    color: $inputPlace;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 0.14px;
                }
            }
            .blue-links {
                display: inline-block;
                &.view-all {
                    margin-left: 30px;
                }
                &.ml34 {
                    margin-left: 34px;
                }
            }
        }
        &.message-items {
            .title-bar {
                margin-bottom: 16px;
            }
        }
    }
}
